<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include nav.html -%}

    <main class="main" aria-label="Content">
      {{ content }}
    </main>

    <script>
      document.getElementById('btn-menu').addEventListener('click', function(e){
        document.getElementById('mainmenu').classList.toggle('visible');
      });
    </script>
    <script defer src="https://stats.sphilip.com/script.js" data-website-id="4732b5f3-38a2-4f69-b94c-5a4554f9ca3f"></script>
  </body>

</html>
